*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Fuzzy Bubbles', cursive;
  line-height: 1.6;
  background-color: rgba(227, 227, 227, 0.83);
  verflow: hidden; }

header {
  font-weight: bold;
  background-color: rgba(155, 155, 155, 0.85);
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  text-shadow: 0 5px white, 0 3px #777; }

section {
  display: flex;
  flex-direction: column;
  justify-content: center; }

h1 {
  margin: 0;
  color: #151412;
  font-size: 6em;
  font-family: 'IBM Plex Serif', serif;
  padding: .3em; }

p {
  font-size: calc(2.5em + .5em);
  font-family: 'Fuzzy Bubbles', cursive; }

.container1 {
  margin-bottom: 1em;
  width: 100%;
  padding: 0 3em;
  text-align: center;
  background-color: #dad9d9; }

.container4 {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: calc(2.5em + .5em);
  width: 100%;
  min-width: 400px;
  max-width: 800px;
  background-color: rgba(150, 149, 149, 0.85);
  border-radius: 1em; }

input[type=radio] {
  display: none; }

.form_radio {
  position: relative;
  text-align: center;
  margin: .3em .3em;
  padding: .3em .3em;
  background-color: rgba(210, 228, 232, 0.8);
  border-radius: 1em; }

.form_radio2 {
  position: relative;
  text-align: center;
  margin: .2em .2em;
  padding: .2em .2em;
  background-color: rgba(148, 166, 187, 0.82);
  border-radius: 1em; }

.container2 {
  margin: auto;
  width: min(500px, 70%);
  text-align: center; }

.container3 {
  margin: auto;
  width: 90%;
  text-align: center;
  background-color: rgba(183, 183, 183, 0.94);
  border-radius: 2em; }

.container5 {
  margin-bottom: 2em;
  text-align: center;
  padding: .2em;
  border-radius: 2em; }

button {
  padding: .2em 1em;
  margin: .2em .2em;
  background-color: rgba(102, 183, 72, 0.8);
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 6em;
  color: rgba(248, 248, 246, 0.88);
  border-radius: .2em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.2s; }

button:active {
  background-color: green; }

.forclock {
  margin: .1em 3em;
  font-size: 5em;
  background-color: #c2c2c2;
  border-radius: .3em;
  color: #070707; }

.left {
  text-align: center;
  margin: 0;
  padding: 0; }

.textIn {
  margin: .5em 1em;
  font-size: 4rem;
  font-weight: bolder;
  background-color: rgba(229, 227, 227, 0.83);
  border-radius: .4em; }

.containerIn {
  padding: .1em .2em;
  margin: .2em 2em;
  font-size: 8em;
  background-color: rgba(136, 138, 138, 0.82);
  color: #29f129;
  border-radius: .2em; }

.button-label {
  display: inline-block;
  padding: .5em .5em;
  margin: .1em;
  cursor: pointer;
  color: black;
  border-radius: 0.25em;
  background: rgba(210, 210, 210, 0.8);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.2s;
  user-select: none; }

#Choice1:checked + .button-label {
  background: green;
  color: white; }

#Choice2:checked + .button-label {
  background: green;
  color: white; }

#Choice3:checked + .button-label {
  background: green;
  color: white; }

#timeChoice1:checked + .button-label {
  background: green;
  color: white; }

#timeChoice2:checked + .button-label {
  background: green;
  color: white; }

#timeChoice3:checked + .button-label {
  background: green;
  color: white; }

/*# sourceMappingURL=main.css.map */
