*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Fuzzy Bubbles', cursive;
  line-height: 1.6;
  background-color: #94E6EE;
  verflow: hidden; }

header {
  font-weight: bold;
  background-color: #36dbee;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  text-shadow: 0 5px white, 0 3px #777; }

section {
  display: flex;
  flex-direction: column;
  justify-content: center; }

h1 {
  margin: 0;
  color: #ea722e;
  font-size: 6em;
  font-family: 'IBM Plex Serif', serif;
  padding: .3em; }

p {
  font-size: calc(2.5em + .5em);
  font-family: 'Fuzzy Bubbles', cursive; }

.container1 {
  margin: auto;
  width: 80%; }

.container4 {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: calc(2.5em + .5em);
  width: 100%;
  min-width: 400px;
  max-width: 800px;
  background-color: rgba(235, 133, 75, 0.85);
  border-radius: 1em; }

input[type=radio] {
  display: none; }

.form_radio {
  position: relative;
  text-align: center;
  margin: .3em .3em;
  padding: .3em .3em;
  background-color: rgba(59, 174, 184, 0.8);
  border-radius: 1em; }

.form_radio2 {
  position: relative;
  text-align: center;
  margin: .2em .2em;
  padding: .2em .2em;
  background-color: rgba(43, 122, 189, 0.82);
  border-radius: 1em; }

.container2 {
  margin: auto;
  width: min(500px, 70%);
  text-align: center; }

.container3 {
  margin: auto;
  width: 70%;
  text-align: center;
  background-color: rgba(238, 206, 83, 0.85);
  border-radius: 2em; }

.container5 {
  margin-bottom: 2em;
  text-align: center;
  padding: .2em;
  border-radius: 2em; }

button {
  padding: .2em .5em;
  margin: .2em .2em;
  background-color: rgba(34, 101, 107, 0.77);
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 6em;
  color: rgba(255, 176, 6, 0.88);
  border-radius: 1em; }

button:active {
  background-color: green;
  font-size: 7em; }

.forclock {
  margin: .1em 3em;
  font-size: 5em;
  background-color: rgba(255, 255, 255, 0.88);
  border-radius: .1em;
  color: #9E4613; }

.left {
  text-align: center;
  margin: 0;
  padding: 0; }

.textIn {
  margin: .5em 1em;
  font-size: 4rem;
  font-weight: bolder;
  background-color: rgba(185, 115, 115, 0.81);
  border-radius: .4em; }

.containerIn {
  padding: .1em .2em;
  margin: .2em 2em;
  font-size: 8em;
  background-color: rgba(30, 92, 217, 0.68);
  color: #29f129;
  border-radius: .2em; }

.button-label {
  display: inline-block;
  padding: .5em .5em;
  margin: .1em;
  cursor: pointer;
  color: black;
  border-radius: 0.25em;
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.2s;
  user-select: none; }

#Choice1:checked + .button-label {
  background: green;
  color: white; }

#Choice2:checked + .button-label {
  background: green;
  color: white; }

#Choice3:checked + .button-label {
  background: green;
  color: white; }

#timeChoice1:checked + .button-label {
  background: green;
  color: white; }

#timeChoice2:checked + .button-label {
  background: green;
  color: white; }

#timeChoice3:checked + .button-label {
  background: green;
  color: white; }

/*# sourceMappingURL=main.css.map */
