*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: 'Fuzzy Bubbles', cursive;
  line-height: 1.6;
  background-color: #94E6EE;
}

header{
  font-weight: bold;
  background-color: #36dbee;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  text-shadow: 0 5px white, 0 3px #777;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


h1 {
  margin: 0;
  color: #ea722e;
  font-size: 6em;
  font-family: 'IBM Plex Serif', serif;
  padding: .5em;
}

p{
  font-size: 3em;
  font-family: 'Fuzzy Bubbles', cursive;
}

.container1{
  margin: auto;
  width: 80%;

}

.container4{
  display: block;
  margin: auto;
  font-size: 3em;
  width: 90%;
  background-color: rgba(235, 133, 75, 0.85);
  border-radius: 1em;
}

.form_radio{
  margin: .5em .5em;
  padding: 1em 1em;
  background-color: rgba(59, 174, 184, 0.8);
  border-radius: 1em;
  text-align: center;
}
.form_radio2{
  margin: .5em .5em;
  padding: 1em 1em;
  background-color: rgba(43, 122, 189, 0.82);
  border-radius: 1em;
  text-align: center;
}

.container2{
  margin: auto;
  width: 50%;
  text-align: center;

}

.container3{
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: rgba(235, 133, 75, 0.85);
  padding: 3em;
  border-radius: 2em;
}

button{
  padding: .2em;
  margin: .5em 0;
  background-color: rgba(34, 101, 107, 0.77);
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 5em;
  color: rgba(255, 176, 6, 0.88);
  border-radius: .2em;
}


.forclock{
  font-size: 5em;
  background-color: rgba(84, 220, 99, 0.78);
  border-radius: 1em;
  color: #9E4613;
}


.left{
text-align: center;
}

.textIn{
  margin: .5em 0;
  font-size: 4rem;
  font-weight: bolder;
  background-color: rgba(128, 128, 128, 0.81);
  border-radius: 7em;
  border: .5rem;
}

.containerIn{
  font-size: 8em;
  background-color: rgba(30, 92, 217, 0.68);
  color: #29f129;
  border-radius: 20px;
}










