*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: 'Fuzzy Bubbles', cursive;
  line-height: 1.6;
  background-color: #94E6EE;
}

header{
  font-weight: bold;
  background-color: #4BDDEB;
  text-align: center;
  width: 100%;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


h1 {
  margin: 0;
  color: #EB854B;
  font-size: 6em;
  font-family: 'IBM Plex Serif', serif;
  padding: .5em;
}

p{
  font-size: 3em;
  font-family: 'Fuzzy Bubbles', cursive;
}

.container1{
  margin: auto;
  width: 80%;

}

.container4{
  display: block;
  margin: auto;
  font-size: 3em;
  width: 80%;
  background-color: #EB854B;
  border-radius: 1em;
}

.form_radio{
  margin: .5em .5em;
  padding: 1em 1em;
  background-color: #3BAEB8;
  border-radius: 1em;
}
.form_radio2{
  margin: .5em .5em;
  padding: 1em 1em;
  background-color: #2b7abd;
  border-radius: 1em;
}

.container2{
  margin: auto;
  width: 50%;
  text-align: center;

}

.container3{
  margin: auto;
  width: 80%;
  text-align: center;
}

button{
  margin: .5em 0;
  background-color: #22656B;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 5em;
  color: black;
  border-radius: .2em;
}


.forclock{
  font-size: 5em;
  background-color: #3BAEB8;
  border-radius: 1em;
  color: #9E4613;
}


.left{
text-align: center;
}

.textIn{
  margin: .5em 0;
  font-size: 4rem;
  font-weight: bolder;
  background-color: gray;
  border-radius: 7em;
  border: .5rem dashed ;
}

.containerIn{

  font-size: 8em;
  background-color: #3BAEB8;
  color: #29f129;
  border-radius: 20px;
}








